# Check the Helm chart version for the JupyterHub instances.
# Then check at
# https://jupyterhub.github.io/helm-chart/#development-releases-jupyterhub
# for the corresponding jupyterhub release - e.g. 2.1.1.
# Make sure that version matches below.
# To match helm chart: 1.1.3-n493.hd30f34b1

jupyterhub==2.3.0
nbgitpuller==1.1.0

scipy
matplotlib
pandas
nibabel
jupytext
okpy
dipy
fury
scikit-image
sympy
nipraxis>=0.4
pytest
# https://github.com/mwouts/jupytext/issues/1051
nbclassic>=0.5.5
